/* General styles for the entire page */
body {
  background-color: #00113A; /* Color for the rest of the page */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  
}

/* Styles specific to the form container */
.form-container {
  background-color: #4f97d5; /* Color for the form */
  padding: 20px 50px;
  border: 1px solid #cccccc;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  line-height: 1.5;
}

/* Styles for the form elements */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 7px 20px;
  background-color: #466b94;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.button-link {
  display: inline-block;
  padding: 7px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.button-link:hover {
  background-color: #0056b3;
}
